*{
    margin: 0;
    padding: 0;
}

html{
    font-family: "Lato", "Verdana";
    background-color: #FFF;
    color: #555;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    scroll-behavior: smooth;
}
/* home */
.header{
    min-height: 100vh;
    background-image: linear-gradient(rgba(20,20,20,0.69),rgba(20,20,20,0.69)),url(../img/bg-4.jpeg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.header-color{
    background-color: #005b96;
}

.logo{
    height: 90px;
}

.nav-line{
    background-color: #FFF;
    height: 1px;
}

.nav-text{
    font-size: 150%;
    text-transform: uppercase;
    font-family: "Lato", "Verdana";
    letter-spacing: 5px;
    color: #FFF;
}

.navbar-nav{
    font-size: 90%;
    letter-spacing: 1px;
    text-decoration: none;
    font-family: "Lato", "Verdana";
    font-weight: bold;
    text-transform: uppercase;
}

/* .navbar-dark .navbar-nav .active>.nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show>.nav-link {
    color: #FFF;
    font-weight: bold;
} */

.jumbotron-header{
    background-color:transparent;
}

.jumbotron-text{
    color: #FFF;
    /* float: right; */
    margin-top: 15%;
    /* margin-right: 10%; */
}

.logo-sub{
    font-size: 90%;
    font-style: italic;
    letter-spacing: 1px;
}

.header-slogan{
    font-size: 180%;
    letter-spacing: 1px;
    word-spacing: 1px;
}

.header-slogan-sub{
    font-size: 90%;
    letter-spacing: 2px;
    word-spacing: 2px;
    text-transform: uppercase;
}

.header-button:link,
.header-button:visited{
    border: 1px solid #005b96;
    background-color: #005b96;
    color: #fff;
    border-radius: 30px;
    text-decoration: none;
    font-size: 75%;
    /* float: left; */
}

.header-button:hover,
.header-button:active{
    background-color: hsl(204, 100%, 22%);
    color: #fff;
    transition: 0.5s;
}

/* home */
/* section-1 */
.section-1{
    min-height: 100vh;
    /* background-color: #E7E7E7; */
}

.gallery-header{
    color: #005b96;
    font-size: 160%;
    letter-spacing: 1px;
}

/* section-1 */
/* section-2 */
.section-2{
    min-height: 100vh;
    background-image:linear-gradient(rgba(220,220,220,0.69),rgba(220,220,220,0.69)),url(../img/sect-2.jfif);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.card-about{
    -webkit-box-shadow: 0px 5px 20px -2px rgba(0,0,0,0.32);
    -moz-box-shadow: 0px 5px 20px -2px rgba(0,0,0,0.32);
    box-shadow: 0px 5px 20px -2px rgba(0,0,0,0.32);
    }

.card-main{
    font-size: 150%;
}

.card-sub{
    font-size: 100%;
    font-weight: normal;
}

.collapse-content{
    font-size: 90%;
}

.btn-card{
    background-color: transparent;
    border: 1px solid #005b96;
    color: #005b96;
    border-radius: 30px;
    text-decoration: none;
    font-size: 75%;
    /* float: left; */
}

.btn-card:hover,
.btn-card:active{
    background-color: hsl(204, 100%, 22%);
    color: #fff;
    transition: 0.5s;
}

.about-line{
    background-color: #FFF;
    /* height: 1px; */
}
/* section-2 */
/* section-3 */
.contactus{
    min-height: 90vh;
}

.cont-btn{
    background-color: #005b96;
    color: #FFF;
    text-transform: uppercase;
    font-size: 75%;
}

.cont-btn:hover,
.cont-btn:active{
    background-color: hsl(204, 100%, 22%);
    color: #fff;
    transition: 0.5s;
}

.card-contact{
    -webkit-box-shadow: 0px 5px 20px -2px rgba(0,0,0,0.32);
    -moz-box-shadow: 0px 5px 20px -2px rgba(0,0,0,0.32);
    box-shadow: 0px 5px 20px -2px rgba(0,0,0,0.32);
}

.contact-text{
    font-size: 85%;
}

.contact-header{
    font-size: 95%;
    color: #005b96;;
}

.fa-envelope{
    color: #f4c430;
}

.fa-facebook-square{
    color: #4267B2;
}

.fa-phone-alt{
    color: #25D366;
}

.details-text{
    font-size: 95%;
}

.map-container{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}

.map-container iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}
/* section-3 */
/* footer */
footer{
   min-height: 10vh;
   background-color: #005b96;
   font-size: 90%;
   color: #FFF;
   padding-top: 20px;
}

.footer-icon{
    font-size: 120%;
    letter-spacing: 10px;
    margin-left: 10px;
    color: #FFF;
}

.footer-icon .fa-phone-alt{
    color: #FFF;
}

.footer-icon .fa-envelope{
    color: #FFF;
}
/* footer */
/* media query */
@media only screen and (max-width: 820px) {
    .nav-text{
        font-size: 130%;
    }
    .navbar-nav{
        font-size: 80%;
    }

    .logo{
        height: 70px;
    }

    .jumbotron-text{
        margin-top: 85%;
        margin-right: 0;
    }
    
    .header-slogan{
        font-size: 115%;
    }
    
    .header-slogan-sub{
        font-size: 75%;
    }

    .logo-sub{
        font-size: 75%;
    }

    .gallery-header{
        font-size: 130%;
    }
    
    .section-1{
        padding-top: 40px;
    }

    /* .section-2{
        padding-top: 40px;
    }

    .contactus{
        padding-top: 40px;
    } */

    .card-main{
        font-size: 115%;
    }
    
    .card-sub{
        font-size: 75%;
    }

    .collapse-content{
        font-size: 75%;
    }
    .contact-text{
        font-size: 75%;
    }
    .details-text{
        font-size: 85%;
        text-align: center;
    }
    footer{
        text-align: center;
        font-size: 75%;
     }
}

@media only screen and (max-width: 820px) {

}
/* media query */